<!-- Import Polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Import Core Elements -->
<link rel="import" href="../bower_components/core-list/core-list.html">

<!-- Import Item card -->
<link rel="import" href="item-card.html">

<!-- Define your custom element -->
<polymer-element name="my-element" attributes="data">
    <template>

        <core-list data="{{data}}">
          <template>
            <div class="row {{ {selected: selected} | tokenList }}">
              List row: {{index}}, Page url from model: {{model.pageUrl}}
            </div>
          </template>
        </core-list>

        {{data}}

        <template repeat="{{values, i in data.data}}">
            <h4>Value {{i}}: {{values.value}}</h4>
            <item-card val="{{values.value}}"></item-card>

            <div horizontal layout>
              <div>One</div>
              <div>Two</div>
              <div>Three</div>
            </div>

        </template>

    </template>
    
    <script>
        Polymer('my-element', {
            // Fires when an instance of the element is created
            created: function() {
            	console.log("I was created.");

                this.num = 123456;

                this.data = { "data":
                  [
                    {
                      "value": 999
                    },
                    {
                      "value": 666
                    },
                    {
                      "value": 555
                    },
                    {
                      "value": 222
                    }
                  ]
                };

            },
            // Fires when the element’s initial set of children and siblings are guaranteed to exist
            domReady: function() {
            	console.log("DOM is ready.");
            },
            // Fires when the "<polymer-element>" has been fully prepared
            ready: function() {
            	console.log("I am fully ready.");
            },
            // Fires when the element was inserted into the document
            attached: function() {
            	console.log("I was attached.");
            },
            // Fires when the element was removed from the document
            detached: function() {
            	console.log("I was detached.");
            },
            // Fires when an attribute was added, removed, or updated
            attributeChanged: function(attr, oldVal, newVal) {
            	console.log("Attribute changed.");
            }
        });
    </script>



</polymer-element>
