<!-- Import Polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Define your custom element -->
<polymer-element name="my-element">

    <script>
        Polymer('my-element', {
            // Fires when an instance of the element is created
            created: function() {
            	console.log("I was created.");
            },
            // Fires when the element’s initial set of children and siblings are guaranteed to exist
            domReady: function() {
            	console.log("DOM is ready.");
            },
            // Fires when the "<polymer-element>" has been fully prepared
            ready: function() {
            	console.log("I am fully ready.");
            },
            // Fires when the element was inserted into the document
            attached: function() {
            	console.log("I was attached.");
            },
            // Fires when the element was removed from the document
            detached: function() {
            	console.log("I was detached.");
            },
            // Fires when an attribute was added, removed, or updated
            attributeChanged: function(attr, oldVal, newVal) {
            	console.log("Attribute changed.");
            }
        });
    </script>

</polymer-element>
