<!-- Import Polymer -->
<link rel="import" href="../bower_components/polymer/polymer.html">

<!-- Import Core Elements -->
<link rel="import" href="../bower_components/core-list/core-list.html">
<link rel="import" href="../bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="../bower_components/core-icon-button/core-icon-button.html">
<link rel="import" href="../bower_components/core-icons/core-icons.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/core-overlay/core-overlay.html">
<link rel="import" href="../bower_components/core-scroll-threshold/core-scroll-threshold.html">
<link rel="import" href="../bower_components/core-image/core-image.html">

<!-- Import Paper Elements -->
<link rel="import" href="../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../bower_components/paper-shadow/paper-shadow.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/paper-menu-button/paper-menu-button.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">

<!-- Define your custom element -->
<polymer-element name="meetup-members" attributes="data" layout vertical relative>
    <template>

        <style>

            .message-item {
              padding: 16px;
            }
            .message-item.selected{
              background-color: #eee;
            }
            .tabs {
              background: #E91E63;
              box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
              color: white;
            }
            .avatar {
              height: 60px;
              width: 60px;
              border-radius: 30px;
              box-sizing: border-box;
              border: 1px solid #DDD;
              background-color: #DDD;
            }
            .pad {
              padding: 0 16px;
            }
            .primary {
              font-size: 24px;
              font-weight: bold;
            }
            .secondary {
              font-size: 18px;
            }
            .dim {
              color: gray;
            }
            .divider {
              font-size: 14px;
              font-weight: bold;
              color: gray;
              padding: 24px 16px 8px 16px;
            }
            .border {
              margin-left: 72px;
              border-bottom: 1px solid #DDD;
            }

            .photo-item {
              box-sizing: border-box;
              padding: 8px;
            }
            .photo {
              background-size: cover;
              height: 200px;
              width: 200px;
              box-sizing: border-box;
              background-color: lightgray;
            }
            .title {
              position: absolute;
              left: 0;
              right: 0;
              bottom: 20;
              padding: 12px 8px 8px 8px;
              color: white;
              background: rgba(0,0,0,0.3);
              font-size: 20px;
            }
            .subtitle {
                font-size: 14px;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 0;
              padding: 12px 8px 8px 8px;
              color: #fff;
              background: rgba(0,0,0,0.3);
            }
            .photo-pad {
              padding: 16px;
              align-items: center;
            }
            .photo-pad-left {
              padding-left: 8px;
            }

            #pages, #photos {
                overflow: auto;
                height: 100%;
                width: 100%;
            }

        </style>

        <paper-tabs class="tabs" selected="{{page}}" valueattr="name">
            <paper-tab name="messages">List</paper-tab>
            <paper-tab name="photos">Tiles</paper-tab>
        </paper-tabs>

        <core-animated-pages selected="{{page}}" id="pages" valueattr="id" flex>

            <core-list id="messages" data="{{data}}">
              <template>
                <div class="divider" divider>{{groupModel.label}}</div>
                <div>
                  <div class="message-item {{selected?'selected':''}}" layout horizontal>
                    <img class="avatar" src="{{model.image}}">
                    <div class="pad" flex layout vertical>
                      <div class="primary">{{model.name}}</div>
                      <div class="secondary">{{model.loc}}</div>
                      <!-- <div class="secondary dim Xclamp">{{model.description}}</div> -->
                    </div>
                    <core-icon icon="{{model.boolean ? 'star' : 'star-outline'}}"></core-icon>
                  </div>
                  <div class="border"></div>
                </div>
              </template>
            </core-list>
          
            
            
              <!-- <core-scroll-threshold id="threshold" scrollTarget="{{$.photos}}" 
                lowerThreshold="1000" on-lower-trigger="{{loadMore}}">
              </core-scroll-threshold> -->
              <core-list id="photos" data="{{data}}" grid width="216">
                <template>
                  <div class="photo-item">
                    <core-image class="photo" sizing="cover" src="{{model.image}}" relative>
                      <div class="title">{{model.name}}</div>
                      <div class="subtitle">{{model.loc}}</div>
                    </core-image>
                  </div>
                </template>
              </core-list>
              <!-- <div class="photo-pad" hidden?="{{!$.threshold.lowerTriggered}}" layout horizontal center-justified>
                <paper-spinner active></paper-spinner>
                <div class="photo-pad-left">Loading...</div>
              </div> -->
            
            

          </core-animated-pages>




        <!-- <template repeat="{{values, i in data.data}}">
            <h4>Value {{i}}: {{values.value}}</h4>
            <item-card val="{{values.value}}"></item-card>

            <div horizontal layout>
              <div>One</div>
              <div>Two</div>
              <div>Three</div>
            </div>

        </template> -->

    </template>
    
    <script>
        Polymer('meetup-members', {
            // Fires when an instance of the element is created
            created: function() {
            	console.log("I was created.");

                this.num = 123456;

                this.data = { "data":
                  [
                    {
                      "value": 999
                    },
                    {
                      "value": 666
                    },
                    {
                      "value": 555
                    },
                    {
                      "value": 222
                    }
                  ]
                };

            },
            // Fires when the element’s initial set of children and siblings are guaranteed to exist
            domReady: function() {
            	console.log("DOM is ready.");
            },
            // Fires when the "<polymer-element>" has been fully prepared
            ready: function() {
            	console.log("I am fully ready.");

                //CoreStyle.g.paperInput.focusedColor = 'white';
                // this.messageGroups = [
                //     {length: 3, data: {label: 'Today'}},
                //     {length: 15, data: {label: 'Yesterday'}},
                //     {length: 30, data: {label: 'Last Week'}},
                //     {length: 150, data: {label: 'Last Month'}},
                //     {length: 150, data: {label: 'Last Quarter'}},
                //     {length: 152, data: {label: 'Last Year'}}
                // ];

                // this.photosData = [];
                // this.photosPage = 1;
                // this.searchText = 'Japan';

            },
            // Fires when the element was inserted into the document
            attached: function() {
            	console.log("I was attached.");
            },
            // Fires when the element was removed from the document
            detached: function() {
            	console.log("I was detached.");
            },
            // Fires when an attribute was added, removed, or updated
            attributeChanged: function(attr, oldVal, newVal) {
            	console.log("Attribute changed.");
            }
        });
    </script>



</polymer-element>
